<div class="wallFreng"></div>
<div class="row">
    <div onclick="up()" class="col s12 downBtn">
        <div class="upIndicator">
            <span class="upArrow"></span>
            <span class="upArrow"></span>
        </div>
    </div>
</div>

<div class="row mainSection">
	<div class="col s9 offset-s1">
		<h3 class="titleSection">Anglais</h3>
	</div>
</div>

<div class="row langSkill">
	<div class="col s10 offset-s1">
		<ul class="langList">
			<li>TOIEC 730 points</li>
			<li>Travel in London</li>
			<li>Linguistique travel to Toronto and living in homestay</li>
			<li>Knowledge of the Technical language</li>
			<li>Reading and writing documentation in english</li>
			<li>I'm watching english videos everydays too</li>
		</ul>
	</div>
</div>

<div class="row backToBtn">
	<div class="col s3 offset-s3 backToHome">
		<button onclick="goToHome()" class="backTo draw-border">Back to Home</button>
	</div>
	<div class="col s3">
		<button onclick="goToLang()" class="backTo draw-border-pink">Back to Section</button>
	</div>
</div>