<div class="wallDev"></div>
<div class="row">
    <div onclick="up()" class="col s12 downBtn">
        <div class="upIndicator">
            <span class="upArrow"></span>
            <span class="upArrow"></span>
        </div>
    </div>
</div>

<div class="row mainSection">
	<div class="col s9 offset-s1">
		<h3 class="titleSection">Hard Skills</h3>
	</div>
</div>

<div class="row skillSection">
	<div class="col s10 offset-s1">
		<h4 class="skillType">Développement</h4>
		<strong class="spaceBtwn">Langage C</strong>
		<strong class="spaceBtwn">Linux/Bash</strong>
		<strong class="spaceBtwn">HTML 5</strong>
		<strong class="spaceBtwn">CSS 3</strong>
		<strong class="spaceBtwn">JS</strong>
		<strong class="spaceBtwn">JQuery</strong>
		<strong class="spaceBtwn">PHP 7</strong>
		<strong class="spaceBtwn">Python</strong>
		<strong class="spaceBtwn">Flask</strong>
		<strong class="spaceBtwn">Docker</strong>
		<strong class="spaceBtwn">Kubernetes</strong>
		<strong class="spaceBtwn">Gitlab</strong>
		<strong class="spaceBtwn">Google Cloud Platform</strong>
		<strong class="spaceBtwn">Golang</strong>
		<strong class="spaceBtwn">CMS</strong>
		<strong class="spaceBtwn">API</strong>
		<strong class="spaceBtwn">Graylog</strong>
		<strong class="spaceBtwn">ELK</strong>
		<strong class="spaceBtwn">SonarQube</strong>
		<strong class="spaceBtwn">Bamboo</strong>
		<strong class="spaceBtwn">Ansible</strong>
		<strong class="spaceBtwn">CI/CD</strong>
		<strong class="spaceBtwn">Impression 3D</strong>
		<strong class="spaceBtwn">Raspberry Pi</strong>
		<strong class="spaceBtwn">Hardware</strong>
	</div>
	<div class="col s10 offset-s1">
		<h4 class="skillType">Design</h4>
		<strong class="spaceBtwn">Photoshop</strong>
		<strong class="spaceBtwn">Illustrator</strong>
		<strong class="spaceBtwn">Adobe Premiere Pro</strong>
		<strong class="spaceBtwn">Sony Vegas Pro</strong>
		<strong class="spaceBtwn">Modélisation 3D : Tinkercad</strong>
	</div>
	<div class="col s10 offset-s1">
		<h4 class="skillType">Marketing</h4>
		<strong class="spaceBtwn">Méthode agile</strong>
		<strong class="spaceBtwn">NTIC</strong>
		<strong class="spaceBtwn">SEO</strong>
		<strong class="spaceBtwn">Gestion de projet</strong>
		<strong class="spaceBtwn">Cahier des charges</strong>
		<strong class="spaceBtwn">Suite office</strong>
	</div>
</div>

<div class="row backToBtn">
	<div class="col s3 offset-s3 backToHome">
		<button onclick="goToHome()" class="backTo draw-border">Back to Home</button>
	</div>
	<div class="col s4">
		<button onclick="goToComp()" class="backTo draw-border-pink">Back to Section</button>
	</div>
</div>
<div class="row footer">
    <div onclick="down()" class="col s12 downBtn">
        <div class="indicator">
            <span class="downArrow"></span>
            <span class="downArrow"></span>
        </div>
    </div>
</div>
