<div class="wallSoft"></div>
<div class="row">
    <div onclick="up()" class="col s12 downBtn">
        <div class="upIndicator">
            <span class="upArrow"></span>
            <span class="upArrow"></span>
        </div>
    </div>
</div>

<div class="row mainSection">
	<div class="col s10 offset-s1">
		<h3 class="titleSection">Soft Skills</h3>
	</div>
</div>

<div class="row skillSection">
	<div class="col s10 offset-s1">
		<h4 class="skillType">Skills acquis :</h4>
		<strong class="spaceBtwn">Autodidactie</strong>
		<strong class="spaceBtwn">Autonomie</strong>
		<strong class="spaceBtwn">Éloquence</strong>
		<strong class="spaceBtwn">Aisance à l'oral</strong>
		<strong class="spaceBtwn">Intégration dans une nouvelle équipe</strong>
		<strong class="spaceBtwn">Adaptabilité en fonction des technologies</strong>
		<strong class="spaceBtwn">Transmission de compétences</strong>
		<strong class="spaceBtwn">Pair-Programming et travail collaboratif</strong>
		<strong class="spaceBtwn">Télétravail</strong>
		<strong class="spaceBtwn">Optimisme</strong>
		<strong class="spaceBtwn">Persévérance</strong>
	</div>
	<div class="col s10 offset-s1">
		<h4 class="skillType">Skills en cours d'acquisition :</h4>
		<strong class="spaceBtwn">Onboarding sur un nouveau projet</strong>
		<strong class="spaceBtwn">Communication au sein des autres équipes</strong>
		<strong class="spaceBtwn">Capacité à déléguer</strong>
	</div>
	<div class="col s10 offset-s1">
		<h4 class="skillType">Test des 16 personnalités :</h4>
		<div class="persona">Personnalité : Avocat</div>
		<div class="persona">Voir <a href="../../../static/css/img/persona.png" target="_blank">Mon Résultat</a></div>
		<div class="persona">Voir <a href="https://www.16personalities.com/fr/la-personnalite-infj" target="_blank">La définition</a></div>
	</div>
</div>

<div class="row backToBtn">
	<div class="col s3 offset-s3 backToHome">
		<button onclick="goToHome()" class="backTo draw-border">Back to Home</button>
	</div>
	<div class="col s4">
		<button onclick="goToComp()" class="backTo draw-border-pink">Back to Section</button>
	</div>
</div>

