{% set sectionTitle = "ENCPB" %}
{% set underSectionTitle = "BAC STL - Spé Biologie" %}
{% set urlLogo = "../../../static/css/img/logo/encpb.png" %}
{% set year = "Années 2012/2014" %}
	
{% set mainText = "Ne souhaitant pas réaliser de Bac scientifique beaucoup trop théorique à mon goût, je me suis engagé dans un bac Science Technique de Laboratoire dans l'excellente École Nationnale de Chimie Physique Biologie. J'y ai découvert le travail en laboratoire et ainsi une potentielle voie pour mon avenir. Après l'obtention de mon Bac, me rendant compte que la cherche était bouchée et payait peu, même pour des années d'expériences, j'ai fait preuve de pragmatisme en partant dans ma passion : l'informatique." %}

{% set trophy1 = "> Bac STL mention Assez Bien" %}
{% set trophy2 = "> Bac Math : 16/20 coef. 6" %}
{% set trophy3 = "" %}
{% set trophy4 = "" %}
{% set trophy5 = "" %}

{% set skill1 = "Biologie" %}
{% set skill2 = "Étude en laboratoire" %}
{% set skill3 = "Suite Office" %}
{% set skill4 = "" %}
{% set skill5 = "" %}
{% set skill6 = "" %}
{% set skill7 = "" %}
{% set skill8 = "" %}
{% set skill9 = "" %}
{% set lastSkill = "" %}

<div class="wallBac"></div>
{% include 'section/repeatedTemplates/section.html' %}