{% set sectionTitle = "EEMI" %}
{% set underSectionTitle = "Licence Chef de Projet Digital" %}
{% set urlLogo = "../../../static/css/img/logo/eemi.png" %}
{% set year = "Années 2016/2019" %}

{% set mainText = "Après mon premier stage, j'ai souhaité continuer dans le développement mais pas sous la forme présentée à Epitech. J'ai donc cherché une école dans le web à taille humaine, c'est là que j'ai découvert l'École Européenne des Métiers de l'Internet. J'y ai trouvé une structure me permettant via ma spécialisation de développer mes compétences en Développement mais aussi en Design et Marketing. Leur formation m'a fait comprendre ce qu'est un projet et comment je pouvais m'y investir autrement que juste en codant." %}

{% set trophy1 = "> Victoire Projet Robocode" %}
{% set trophy2 = "> Participation au concours d'éloquence" %}
{% set trophy3 = "> Victoire Projet ROAM" %}
{% set trophy4 = "" %}
{% set trophy5 = "" %}

{% set skill1 = "LAMP" %}
{% set skill2 = "JS" %}
{% set skill3 = "Wordpress" %}
{% set skill4 = "Golang" %}
{% set skill5 = "Symfony/Laravel" %}
{% set skill6 = "Python" %}
{% set skill7 = "Docker" %}
{% set skill8 = "Gestion de Projets" %}
{% set skill9 = "NTIC/SEO" %}
{% set lastSkill = "Suite Adobe" %}

<div class="wallEEMI"></div>
{% include 'section/repeatedTemplates/section.html' %}
<div class="row footer">
    <div onclick="down()" class="col s12 downBtn">
        <div class="indicator">
            <span class="downArrow"></span>
            <span class="downArrow"></span>
        </div>
    </div>
</div>