<div class="contact"></div>
<div class="darkBG" id="serverDarkBG"></div>

<div class="row mainSection">
	<div class="col s10 offset-s1">
		<h3 class="contactTitle">Contact</h3>
		<h4 class="contactUnderTitle">Retrouvez moi sur ...</h4>
	</div>
</div>

<div class="row valign-wrapper formMain">
    <div class="col s2 sideBtn" onclick="left()">
        <span class="arrow left"></span>
    </div>

    <div class="col s8 contactList">
    	<div class="row">
            <div class="col s12 m6 l3">
                <a href="mailto:valentin.guilbaud75013@gmail.com">
                    <img class="flashRed" src="../../../static/css/img/email.png">
                </a>
            </div>
    		<div class="col s12 m6 l3">
    			<a href="https://www.linkedin.com/in/valentin-guilbaud-23765a134" target="_blank">
    				<img class="flashPurple" src="../../../static/css/img/linkedin.png">
				</a>
    		</div>
    		<div class="col s12 m6 l3">
    			<a href="https://github.com/ValouLeHibou" target="_blank">
    				<img class="flashLightBlue" src="../../../static/css/img/github.png">
    			</a>
    		</div>
    		<div class="col s12 m6 l3">
    			<a href="../../../static/css/img/CV_Valentin_GUILBAUD.pdf" target="_blank">              
    				<img class="flashBlue" src="../../../static/css/img/cv.png">
    			</a>
    		</div>
        </div>
	</div>
	<div class="col s2"></div>
</div>
