<div class="row header">
    <div class="col s12" id="cyberBtn">
        <button class="projectBtn">
            <div class="projectBtn__content">
                My Projects_
            </div>
            <span class="projectBtn__glitch"></span>
            <span class="projectBtn__label">Github_42</span>
        </button>
    </div>
</div>
<div class="row valign-wrapper">
    <div class="col s3">
        <nav class="row">
                <div class="col s12"><a href='#'>- HOME -</a></div>
                <div class="col s12"><a href='#'>Formations</a></div>
                <div class="col s12"><a href='#'>Expériences</a></div>
                <div class="col s12"><a href='#'>Compétences</a></div>
                <div class="col s12"><a href='#'>Langues</a></div>
                <div class="col s12"><a href='#'>Hobbys</a></div>
                <div class="col s12"><a href='#'>Contacts</a></div>
            </ul>
        </nav>
    </div>
    <div class="col s6">
        <h1>Valentin GUILBAUD</h1>
    </div>
    <div class="col s3 rightBtn">
        <button onclick="right()">Right</button>
    </div>
</div>
<div class="row footer">
    <div class="col s12 downBtn">
        <button onclick="down()">Down</button>
    </div>
</div>
