#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.darkBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    background-color: black;
}

#homeDarkBG {
    opacity: 0.75;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
}

.burger {
    visibility: hidden;
    margin-top: 40px;
    padding-left: 40px!important;
}

#myWrapper {
    background-color: rgba(0,0,0,.4);
    font-family: Tomorrow, sans-serif;
}

#myWrapper > li:hover, #myWrapper > li > a:hover {
    background: none;
    font-weight: bold;
}

#cyberBtn {
    text-align: right;
    margin-top: 40px;
    padding-right: 50px;
}

.homeBtn {
    color: #00f0ff;
}

.sectionList > li {
    font-family: Tomorrow, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin: 30px!important;
}

.sectionList > li > span {
    cursor: pointer;
}

/*bd00ff*/

#devops {
    font-family: 'neoneon';
    font-size: 10em;
    color: white;
    text-shadow: 0 0 20px #00f0ff;
}

#valentin {
    font-family: neoneon, sans-serif;
    font-size: 6em;
    text-shadow: 0 0 20px #bd00ff;
    margin-bottom: 200px;
}

#start {
    text-align: right;
    font-family: Tomorrow, sans-serif;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.sideBtn {
    text-align: right;
    cursor: pointer;
}

.arrow {
    margin-right: 10px;
}

.downBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    margin-bottom: 20px;
}

.aboutText {
    font-family: Tomorrow, sans-serif;
    color: #fcee09;
    margin-bottom: 30px;
}

.footer {
    justify-content: center;
    position: absolute;
    bottom: 0;
}
