@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
@font-face {
    font-family: CyberWay;
    src: url("Cyberway.otf") format("opentype");
}

html, body {
    height: 100%;
    margin: 0;
}

section, .row {
    display: flex;
}

section {
    flex-direction: column;
    color: white;
    justify-content: center;
}

/* ##### Change some MaterializeCss default Conf ##### */
.row {
    margin: 0!important;
    width: 100%;
}

.row, .col {
    min-height: initial!important;
}


