@media only screen and (max-width: 1200px) {

    h1 { font-size: 6em!important; }
    h2 { font-size: 3em!important; }
}

@media only screen and (max-width: 900px) {

    .sectionList { display: none!important;}
    .burger { visibility: initial!important; }
    .header { float: initial!important; }

    .projectBtn, .projectBtn__content {
        font-size: .75rem;
        width: 160px!important;
        height: 55px!important;
    }
}

@media only screen and (max-width: 600px) {

    body { background-color: #444444; }

    h1 {font-size: 3em!important; }

    h2 { font-size: 2em!important; }

    .sectionList { display: none!important;}

    .header { float: initial!important; }

    .footer .downBtn{ float: initial!important; }

    video { display: none!important;

    }
}
