/* ##### Main Slide ##### */
.formMain {
    position: absolute;
    top: 50%;
    height: 100px;
}

.mainTitle {
    font-family: 'neoneon', sans-serif;
    font-size: 6em;
    color: white;
    text-shadow: 0 0 25px blue;
}

.underTitle {
    font-family: neoneon, sans-serif;
    font-size: 2.5em;
    text-shadow: 0 0 25px red;
    margin-bottom: 200px;
}

/* ##### Section Slide ##### */

/* ##### FORMATION & EXPERIENCE ##### */

.mainSection {
    /* VERTICAL ALIGN */
    position: absolute;
    top: 10%;
    height: 100px;
    /* VERTICAL ALIGN */
}

.textSection {
    /* VERTICAL ALIGN */
    position: absolute;
    top: 35%;
    height: 100px;
    /* VERTICAL ALIGN */
}

.backToBtn {
    /* VERTICAL ALIGN */
    position: absolute;
    top: 82%;
    height: 100px;
    /* VERTICAL ALIGN */
}


.titleSection {
    font-family: 'neoneon', sans-serif;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 20px blue;
}

.underTitle {
    font-family: 'neoneon', sans-serif;
    font-size: 4em;
    color: white;
    text-shadow: 0 0 20px red;
    margin-bottom: 150px
}

.logo {
    text-align: right;
}

.year, .skillType {
    font-family: 'Tomorrow', sans-serif;
    font-size: 2.5em;
    color: white;
}

.sectionDescr {
    font-family: 'Tomorrow', sans-serif;
    text-align: justify;
    font-size: 1.25em;
    color: white;
}

.spaceBtwn {
    margin: 10px 0 10px 20px;
    font-size: 1.3em;
    display: inline-block;
}

.sectionTrophy {
    font-family: 'Tomorrow', sans-serif;
    font-size: 1.25em;
    padding: 0 40px 0 40px;
    color: white;
}

.trophy {
    font-size: 1.5em;
}

.trophyList {
    margin: 0 40px 0 40px;
    font-size: 1.25em;
}

.skills {
    font-size: 1.5em;
    margin: 20px 0 20px 0;
}

.backToHome {
    text-align: right;
}

.backTo {
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 900 1.2rem 'Tomorrow', sans-serif;
  padding: 0.8em 1.2em;
  letter-spacing: 0.05rem;
}

/* ##### SKILLS ##### */

.skillSection {
    font-family: 'Tomorrow', sans-serif;
    position: absolute;
    top: 25%;
    height: 100px;
    text-align: center;
    font-size: 1.25em;
    color: white;
}

.skillSection strong {
    text-align: center;
}

.persona {
    font-size: 1.25em;
}

.langSkill {
    font-size: 1.5em;
    font-family: 'Tomorrow', sans-serif;
    /* VERTICAL ALIGN */
    position: absolute;
    top: 35%;
    height: 100px;
    /* VERTICAL ALIGN */
    text-align: center;
}

/* ##### HOBBIES ##### */

.hobbieSection {
    font-family: 'Tomorrow', sans-serif;
    position: absolute;
    height: 100px;
    text-align: center;
    font-size: 1.25em;
    color: white;
}

.hobbieSection {
    top: 25%;
}

.hobbieSection img {
    width: 25%;
}

.hobbieSection > div {
    margin-bottom: 100px
}
