{% set sectionTitle = "Aragon-eRH" %}
{% set underSectionTitle = "Stage Développeur Fullstack Junior" %}
{% set urlLogo = "../../../static/css/img/logo/aragon.png" %}
{% set year = "Années 2017/2018" %}
{% set mainText = "Pour le stage de 6 mois demandé par Epitech, j'ai trouvé un poste chez Aragon-eRH, une entreprise de gestion d'une plateforme de SI RH. Ayant découvert le milieu du développement Logiciel à Epitech, c'est à Aragon que j'ai pu apprendre les bases du développement Web. C'est d'ailleurs suite à ce stage que j'ai décidé de partir pour une école du web par la suite." %}

{% set trophy1 = "> Décourverte des bases HTML/CSS/JS/SQL/PHP" %}
{% set trophy2 = "> Découvert de la méthode MVC via le framework CakePHP" %}
{% set trophy3 = "> Travail de debug des tickets Redmind" %}
{% set trophy4 = "" %}
{% set trophy5 = "" %}

{% set skill1 = "HTML" %}
{% set skill2 = "CSS" %}
{% set skill3 = "JS" %}
{% set skill4 = "PHP" %}
{% set skill5 = "Méthode Agile" %}
{% set skill6 = "Framework" %}
{% set skill7 = "Ticketing" %}
{% set skill8 = "CakePHP" %}
{% set skill9 = "MVC" %}
{% set lastSkill = "SQL" %}

<div class="wallAragon"></div>
{% include 'section/repeatedTemplates/section.html' %}
<div class="row footer">
    <div onclick="down()" class="col s12 downBtn">
        <div class="indicator">
            <span class="downArrow"></span>
            <span class="downArrow"></span>
        </div>
    </div>
</div>