{% set sectionTitle = "microDON" %}
{% set underSectionTitle = "Stage DevOps Junior" %}
{% set urlLogo = "../../../static/css/img/logo/microdon.png" %}
{% set year = "Années 2017/2018" %}
{% set mainText = "Dans le cadre de ma 2ème année à l'EEMI, j'ai eu à trouver un stage de 6 mois. Mon choix s'est porté sur la recherche d'un poste de DevOps Junior car la double casquette Dev/Ops que ce travail offrait me correspondait bien. C'est là que j'ai été recruté par l'équipe de microDON pour leur plateforme de l'arrondi solidaire. J'ai pu travailler avec une petite équipe très soudée chez qui j'ai pu découvrir le milieu social et solidaire." %}

{% set trophy1 = "> Mise en place log symphony" %}
{% set trophy2 = "> Déploiement de nous contenaire docker" %}
{% set trophy3 = "> Industrialisation de la CI/CD" %}
{% set trophy4 = "> Mise en place Google Cloud Plateform" %}
{% set trophy5 = "" %}

{% set skill1 = "Docker" %}
{% set skill2 = "PHP Symfony" %}
{% set skill3 = "CI/CD gitlab" %}
{% set skill4 = "Kubernetes" %}
{% set skill5 = "Yaml" %}
{% set skill6 = "Google Cloud plateform" %}
{% set skill7 = "" %}
{% set skill8 = "" %}
{% set skill9 = "" %}
{% set lastSkill = "" %}

<div class="wallMicrodon"></div>
{% include 'section/repeatedTemplates/section.html' %}
<div class="row footer">
    <div onclick="down()" class="col s12 downBtn">
        <div class="indicator">
            <span class="downArrow"></span>
            <span class="downArrow"></span>
        </div>
    </div>
</div>
