{% set sectionTitle = "Auto-Entrepreneur" %}
{% set underSectionTitle = "Devis/Montage/Maintenance de PC à domicile" %}
{% set urlLogo = "" %}
{% set year = "Années 2017 - Aujourd'hui" %}
{% set mainText = "Depuis mes débuts en informatique, je me suis intéressé au Hardware. J'ai commencé par simplement dépanner ce que je pouvais tout autour de moi, puis j'ai monté mes premiers PC. Aujourd'hui, toujours sur mon temps libre, je dépanne les personnes qui en ont besoins et j'ai réalisé pas moins de 5 devis puis montage à domicile." %}

{% set trophy1 = "> Premières responsabilités" %}
{% set trophy2 = "> Compétences très utiles aujourd'hui" %}
{% set trophy3 = "" %}
{% set trophy4 = "" %}
{% set trophy5 = "" %}

{% set skill1 = "Harware/Software" %}
{% set skill2 = "OS Windows/Linux" %}
{% set skill3 = "Relation Client" %}
{% set skill4 = "Réalisation de devis" %}
{% set skill5 = "Respect des délais" %}
{% set skill6 = "Maitrise de la suite Office/Adobe" %}
{% set skill7 = "Veille informatique" %}
{% set skill8 = "" %}
{% set skill9 = "" %}
{% set lastSkill = "" %}

<div class="wallAragon"></div>
{% include 'section/repeatedTemplates/section.html' %}