<!-- ##### WRAPPER ##### -->
<div class="row header">
    
    <!-- ##### PROJECT BUTTON ##### -->
    <div class="col s6 offset-s6" id="cyberBtn">
        <button class="projectBtn">
            <a href="/project" target="_blank">
                <div class="projectBtn__content">Click_Here_For_Projects_</div>
                <span class="projectBtn__glitch"></span>
                <span class="projectBtn__label">Github_42</span>
            </a>
        </button>
    </div>
</div>
<div class="row valign-wrapper formMain">
    <div class="col s2 sideBtn" onclick="left()">
        <span class="arrow left"></span>
    </div>

    <div class="col s8">
		<h2 class="neonEffect mainTitle">{{ mainTitle }}</h2>
		<h3 class="neonEffect underTitle">{{ underTitle }}</h3>
	</div>

    <div class="col s2 sideBtn" onclick="right()">
        <span class="arrow right"></span>
    </div>
</div>

<div class="row footer">
    <div onclick="down()" class="col s12 downBtn">
        <div class="downArrowText">Explorer</div>
        <div class="indicator">
            <span class="downArrow"></span>
            <span class="downArrow"></span>
        </div>
    </div>
</div>