<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>NeoCV</title>
        <meta name="NeoCV" content="Bienvenue sur mon CV">
        <meta name="author" content="Valentin GUILBAUD">
        <meta name="description" content="Formations - Expériences - Compétences - Projets, découvrez mon parcours via mon WebCV fait maison">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="../static/css/img/favicon.ico">

        <!-- ##### LOAD ALL CSS ##### -->
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="stylesheet" href="../static/css/about.css">
        <link rel="stylesheet" href="../static/css/wall.css">
        <link rel="stylesheet" href="../static/css/section.css">
        <link rel="stylesheet" href="../static/css/contact.css">
        <link rel="stylesheet" href="../static/css/mediaQuery.css">
        <link rel="stylesheet" href="../static/css/button/projectBtn.css">
        <link rel="stylesheet" href="../static/css/button/downBtn.css">
        <link rel="stylesheet" href="../static/css/button/sideBtn.css">
        <link rel="stylesheet" href="../static/css/button/aboutBtn.css">
        <link rel="stylesheet" href="../static/css/button/burgerBtn.css">
    </head>

    <body>
        <div id="ascensor">
            <!-- ##### LOAD ALL ASCENSOR SECTIONS ##### -->
            <section id="home" class="valign-wrapper">{% include 'section/home.html' %}</section>
            <section id="aboout">{% include 'section/about.html' %}</section>
            <section id="form">{% include 'section/form/form.html' %}</section>
            <section id="ecv">{% include 'section/form/ecv.html' %}</section>
            <section id="eemi">{% include 'section/form/eemi.html' %}</section>
            <section id="epitech">{% include 'section/form/epitech.html' %}</section>
            <section id="bac">{% include 'section/form/bac.html' %}</section>
            <section id="exp">{% include 'section/exp/exp.html' %}</section>
            <section id="bforbank">{% include 'section/exp/bforbank.html' %}</section>
            <section id="mindmatcher">{% include 'section/exp/mindmatcher.html' %}</section>
            <section id="microdon">{% include 'section/exp/microdon.html' %}</section>
            <section id="aragon">{% include 'section/exp/aragon.html' %}</section>
            <section id="pc">{% include 'section/exp/pc.html' %}</section>
            <section id="comp">{% include 'section/comp/comp.html' %}</section>
            <section id="hard">{% include 'section/comp/hardSkills.html' %}</section>
            <section id="soft">{% include 'section/comp/softSkills.html' %}</section>
            <section id="lang">{% include 'section/lang/lang.html' %}</section>
            <section id="english">{% include 'section/lang/english.html' %}</section>
            <section id="hobbie">{% include 'section/hobbie/hobbie.html' %}</section>
            <section id="list">{% include 'section/hobbie/list.html' %}</section>
            <section id="contact">{% include 'section/contact.html' %}</section>
        </div>

        <!-- ##### LOAD ALL JS ##### -->
        <script src="../static/js/jquery-3.4.1.min.js"></script>
        <script src="../static/js/jquery.ascensor.min.js"></script>
        <script src="../static/js/loadAscensor.js"></script>
        <script src="../static/js/loadAscensorButton.js"></script>
        <script src="../static/js/triggerBurgerButton.js"></script>
        <script src="../static/js/neonEffect.js"></script>
        <script type="text/javascript">
            // Menu Burger
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems, {constrainWidth: false, coverTrigger: false});
            });
        </script>

        <!-- Materializecss -->
        <link rel="stylesheet" href="../static/materialize/materialize.min.css">
        <script src="../static/materialize/materialize.min.js"></script>
    </body>
</html>