<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>NeoCV</title>
    <meta name="NeoCV" content="Bienvenue sur mon CV">
    <meta name="author" content="Valentin GUILBAUD">
    <meta name="description" content="Formations - Expériences - Compétences - Projets, découvrez mon parcours via mon WebCV fait maison">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <!-- Slick for Slider -->
    <link rel="stylesheet" type="text/css" href="../static/slickSlider/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../static/slickSlider/slick-theme.css"/>
</head>
<body>
<div id="ascensor">
<?php include('include.php')?>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="../static/jquery.ascensor.js"></script>
    <script>

        let ascensor = $("#ascensor").ascensor({
            childType: "section",
            ascensorFloorName: [
                "Home",
                "Formations", "Form-ECV", "Form-EEMI", "Form-EPITECH",
                "EXP", "EXP-BForBank", "EXP-MindMatcher", "EXP-microDON", "EXP-Aragon-eRH",
                "Competences", "Comp-DEV", "Comp-Design_Marketing",
                "Langue", "FR-ENG",
                "Hobby",
                "Contact"
            ],
            time: 250,
            windowsOn: 0,
            direction: [
                [0, 0], // HOME
                [0, 1], // FORMATION
                [1, 1],
                [2, 1],
                [3, 1],
                [0, 2], // EXP
                [1, 2],
                [2, 2],
                [3, 2],
                [4, 2],
                [0, 3], // COMP
                [1, 3],
                [2, 3],
                [0, 4], // LANG
                [1, 4],
                [0, 5], // HOBBY
                [0, 6], // CONTACT
            ],
            time: 500,
            keyNavigation: true,
            queued: "x",
            wheelNavigation: true,
            wheelNavigationDelay: 250
        });

        let ascensorInstance = ascensor.data('ascensor');   // Access instance

        //ascensorInstance.prev();                            // Go to previous floor
        //ascensorInstance.next();                            // Go to next floor
        //ascensorInstance.scrollToFloor(4);                  // Go to floor Index
        //ascensorInstance.scrollToFloor('content2');         // Go to floor Name

        function right() { ascensorInstance.scrollToDirection('right'); }

        function left() { ascensorInstance.scrollToDirection('left'); }

        function up() { ascensorInstance.scrollToDirection('up'); }

        function down() { ascensorInstance.scrollToDirection('down'); }

        function goHome() { ascensorInstance.scrollToFloor(0); }

        function goToEXP() { ascensorInstance.scrollToFloor('EXP'); }
    </script>

    <!-- Materializecss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
