        <!-- ##### LOAD ALL CSS ##### -->
        <link rel="stylesheet" href="../static/css/index.css">
        
<div class="row">
	<div class="col s12" style="background-color: blue">
		<h3>ECV Digital</h3>
		<h4>Mastère Développement Web - 2019/2021</h4>
	</div>

	<div class="col s6" style="background-color: red">
		<h5>M1</h5>
		<p></p>
	</div>
	<div class="col s6" style="background-color: pink">
		<h5>M2</h5>
		<p></p>
	</div>
</div>

        <script src="../static/js/jquery-3.4.1.min.js"></script>
        <!-- Materializecss -->
        <link rel="stylesheet" href="../static/materialize/materialize.min.css">
        <script src="../static/materialize/materialize.min.js"></script>