<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>NeoCV - Projects</title>
        <meta name="NeoCV - Project" content="Bienvenue dans la section projet.">
        <meta name="author" content="Valentin GUILBAUD">
        <meta name="Project" content="Ici, découvrez mes projets">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ##### LOAD ALL CSS ##### -->
        <link rel="stylesheet" href="../static/css/mediaQuery.css">
        <link rel="stylesheet" href="../static/css/project.css">
        <link rel="shortcut icon" type="image/x-icon" href="../static/css/img/favicon.ico">

    </head>

    <body>

		<!-- Start Parallax Header -->
		<header>
		  <nav class="grey darken-4">
		    <div class="container">
		      <div class="nav-wrapper">
		        <a href="/#Home" class="brand-logo">NeoCV</a>
		        <ul class="right side-nav" id="nav-mobile">
		          <li class="hide-on-small-only">Mes Projets</li>
		        </ul>
		      </div>
		    </div>
		  </nav>
		</header>
		<!-- End Parallax Header -->

		<!-- Start Parallax  -->
		<div class="parallax-container">
		    <div class="parallax">
		    	<img src="../../static/css/img/project/retro.jpg" class="responsive-img" alt="Parallax">
		    </div>
		</div>

		<div class="section grey darken-4 blueLight">
			<div class="row">
				<div class="col s10 offset-s1">
			    	<h2 class="header">Projets Techniques</h2>
			    	<p class="subtitle">
				    	Vous retrouverez ici une liste des projets que j'ai pu réaliser seul ou en groupe au cours de ma scolarité.
				    </p>
				</div>
		    </div>

		    <!-- ##### MADU ##### -->
		    <div class="row">
		    	<div class="col s10 offset-s1">
			    	<h3>Hackathon - Projet Madu</h3>
			    	<p align="justify" class="projectDescr">
		        		Dans le cadre d'un hackathon organisé par l'ECV Digital, mon équipe et moi-même avons eu à développer une application mélangeant Tripadvisor et Google Maps. Étant le seul développeur de l'équipe j'ai pu réaliser le projet avec les technologies que je souhaitais : à savoir Python, Docker ou encore Postgres. Sur les 3 jours de hackathon, j'ai eu le temps de réaliser une interface Mapbox (un Maps open source) installé dans une infrastructure composée de technologies de cartographie comme Umap, Qgis ou encore PostGis. Ainsi, grâce à nos efforts, peu de sommeil et beaucoup de café, nous avons remporté le hackathon.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s10 offset-s1">
		    		<a class="link" href="https://github.com/ValouLeHibou/madu" target="_blank">
		    			Accéder au code source GitHub
		    		</a>
		    	</div>
		    </div>

		    <!-- ##### LUMOS ##### -->
		    <div class="row">
		    	<div class="col s10 offset-s1">
			    	<h3>Projet Lumos</h3>
			    	<p align="justify" class="projectDescr">
		        		Lors d'une semaine de projet à l'ECV Digital, j'ai profité du moment pour m'initier au développement Python/Docker que j'affectionne aujourd'hui beaucoup afin de réaliser une simple page de connexion via l'API Google.
		        	</p>

		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s10 offset-s1">
		    		<a class="link" href="https://github.com/ValouLeHibou/lumos" target="_blank">
		    			Accéder au code source GitHub
		    		</a>
		    	</div>
		    </div>
		</div>

		<div class="parallax-container">
			<div class="parallax">
				<img src="../../static/css/img/project/retroReverse.jpg" class="responsive-img" alt="Parallax">
			</div>
		</div>



		<!-- ##### New CV ##### -->
		<div class="section grey darken-4 pinkLight">
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>NeoCV</h3>
			    	<p align="justify" class="projectDescr">
		        		J'aime réaliser ce genre de CV en ligne que vous êtes en train de lire car c'est une manière simple pour moi de développer ma créativité et ainsi faire entrer les visiteurs dans mon univers pour leur proposer une expérience moins conventionnelle qu'un bête CV papier. Ce CV est auourd'hui hébergé chez moi sur mon raspberry pi.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="https://github.com/ValouLeHibou/neoCV" target="_blank">
		    			Accéder au code source GitHub
		    		</a>
		    	</div>
		    </div>

		    <!-- ##### OLD CV ##### -->
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>CV 1.0</h3>
			    	<p align="justify" class="projectDescr">
		        		Mon tout premier CV en ligne, j'ai toujours un peu honte de revenir dessus mais je pense qu'il est  intéressant de voir d'où on vient pour apprécier le chemin parcouru.
		           	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s4 offset-s2">
		    		<a class="link" href="project/cv" target="_blank">
		    			Découvrir et tester le projet
		    		</a>
		    	</div>
		    	<div class="col s4">
		    		<a class="link" href="https://github.com/ValouLeHibou/CV" target="_blank">
		    			Accéder au code source sur GitHub
		    		</a>
		    	</div>
		    </div>
		</div>

		<div class="parallax-container">
			<div class="parallax">
				<img src="../../static/css/img/project/retro.jpg" class="responsive-img" alt="Parallax">
			</div>
		</div>



		<!-- ##### APINEWS ##### -->
		<div class="section grey darken-4 blueLight">
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Projet APINews</h3>
			    	<p align="justify" class="projectDescr">
		        		Dans le cadre d'un projet pour l'école, il nous a été demandé de pouvoir réaliser un système de recherche de news sur différentes sources en fonction des mots-clefs utilisés via une API. Javascript pur et materializeCSS ont été utilisé pour ce travail.
		        	</p>

		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s4 offset-s2">
		    		<a class="link" href="project/newsAPI" target="_blank">
		    			Découvrir et tester le projet
		    		</a>
		    	</div>
		    	<div class="col s4">
		    		<a class="link" href="https://github.com/ValouLeHibou/newsAPI" target="_blank">
		    			Accéder au code source sur GitHub
		    		</a>
		    	</div>
		    </div>

			<!-- ##### METEOAPI ##### -->
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Projet APIMeteo</h3>
			    	<p align="justify" class="projectDescr">
		        		La base du requêtage API, rien de plus rien de moins.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s4 offset-s2">
		    		<a class="link" href="project/meteoAPI" target="_blank">
		    			Découvrir et tester le projet
		    		</a>
		    	</div>
		    	<div class="col s4">
		    		<a class="link" href="https://github.com/ValouLeHibou/MyLittleWeatherAPI" target="_blank">
		    			Accéder au code source sur GitHub
		    		</a>
		    	</div>
		    </div>
		</div>

		<div class="parallax-container">
			<div class="parallax">
				<img src="../../static/css/img/project/retroReverse.jpg" class="responsive-img" alt="Parallax">
			</div>
		</div>



		<!-- ##### Robocode ##### -->
		<div class="section grey darken-4 pinkLight">
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Champion Robocode EEMI 2018</h3>
			    	<p align="justify" class="projectDescr">
		        		Robocode est un projet permettant de faire s'affronter des tanks dans une arène virtuelle. Suite au concours organisé par mon école, j'ai, avec l'aide de mon collègue Pierry Lim, réalisé un robot nommé NEO grâce auquel nous avons remporté la victoire après 10 manches contre 20 robots. Nous avons ainsi détrôné les 3eme années, anciens détenteurs du titre. 
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="https://robocode.sourceforge.io/" target="_blank">
		    			Accéder au site
		    		</a>
		    	</div>
		    </div>

		    <!-- ##### ROAM ##### -->
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Trophée innovation assurance ROAM 2018</h3>
			    	<p align="justify" class="projectDescr">
		        		Suite à une semaine de Workshop basé sur le thème de la domotique et de l'assurance, nous avons présenté notre projet d'application mobile devant les représentants de la ROAM qui l'ont ensuite élu "Projet d'innovation ROAM 2018".
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="http://www.roam.asso.fr" target="_blank">
		    			Accéder au site
		    		</a>
		    	</div>
		    </div>
		</div>

		<div class="parallax-container">
		    <div class="parallax">
		    	<img src="../../static/css/img/project/retro.jpg" class="responsive-img" alt="Parallax">
		    </div>
		</div>



		<!-- ##### RAPPORT ##### -->
		<div class="section grey darken-4 blueLight">
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Rapport de Stage microDON 2017/2018</h3>
			    	<p align="justify" class="projectDescr">
		        		Suite au stage chez microDON, il m'a été demandé d'écrire un rapport résumant le travail réalisé au court des 6 mois de stage.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="../static/project/pdf/stage_microdon.pdf" target="_blank">
		    			Accéder au PDF
		    		</a>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Rapport Alternance MindMatcher 2018/2019</h3>
			    	<p align="justify" class="projectDescr">
		        		De même pour Mindmatcher, un rapport a été demandé. Ce dernier étant encore plus important que le précédent car il a impacté directement l'obtention de ma licence.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="../static/project/pdf/alternance_mindmatcher.pdf" target="_blank">
		    			Accéder au PDF
		    		</a>
		    	</div>
		    </div>
		</div>


		<div class="parallax-container">
		    <div class="parallax">
		    	<img src="../../static/css/img/project/retroReverse.jpg" class="responsive-img" alt="Parallax">
		    </div>
		</div>



		<!-- ##### PROJETS PERSO ##### -->
		<div class="section grey darken-4 pinkLight">
			<div class="row">
				<div class="col s8 offset-s2">
			    	<h2 class="header">Projets Perso</h2>
			    	<p class="subtitle">
				    	Vous retrouverez ici une liste de mes projets.
				    </p>
				</div>
		    </div>
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Hub de Webcam de station de ski</h3>
			    	<p align="justify" class="projectDescr">
		        		Mon père aime beaucoup le ski, il passe beaucoup de temps sur les diverses webcams que mettent les stations à disposition sur leur site pour voir l'évolution de l'enneigement.
		        		J'ai donc eu une idée : Un raspberry, un écran, une imprimante 3D, un peu de JS et boum ! Un Hub d'accès aux webcams des Alpes pour pouvoir voir toutes les stations depuis un seul point !
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s4 offset-s2">
		    		<a class="link" href="project/secretProject" target="_blank">
		    			Découvrir et tester le projet
		    		</a>
		    	</div>
		    	<div class="col s4">
		    		<a class="link" href="https://github.com/ValouLeHibou/skiWebcamHub" target="_blank">
		    			Accéder au code source sur GitHub
		    		</a>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Covid 3D</h3>
			    	<p align="justify" class="projectDescr">
		        		On le sait tous, le début de la pandémie a été difficile surtout à cause du manque de masques. C'est pourquoi j'ai décidé de mettre à contribution mon imprimante 3D afin de pouvoir faire don de visière aux EHPAD, hôpitaux mais aussi aux particuliers. J'ai ainsi pu livrer à vélo plus de 200 visières à des dizaines d'adresses dans la capitale.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s4 offset-s2">
		    		<a class="link" href="../static/project/img/covid3D.jpg" target="_blank">
		    			Voir photo
		    		</a>
		    	</div>
		    	<div class="col s4">
		    		<a class="link" href="https://www.thingiverse.com/valoulehibou/designs" target="_blank">
		    			Accéder à mes créations 3D sur Thingiverse
		    		</a>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Devis Montage de PC</h3>
			    	<p align="justify" class="projectDescr">
		        		Réaliser de la veille technologique est une chose, mais pouvoir s'en servir pour construire un PC de A à Z en fonction des besoins d'un client c'est encore plus intéressant.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="../static/project/pdf/devis.xlsx" target="_blank">
		    			Exemple de Devis réalisé en 2020
		    		</a>
		    	</div>
		    </div>
		</div>

		<div class="parallax-container">
		    <div class="parallax">
		    	<img src="../../static/css/img/project/retro.jpg" class="responsive-img" alt="Parallax">
		    </div>
		</div>



		<!-- ##### Évènements ##### -->
		<div class="section grey darken-4 blueLight">
			<div class="row">
				<div class="col s8 offset-s2">
			    	<h2 class="header">Évènements</h2>
			    	<p class="subtitle">
				    	En tant que grand utilisateur de meetup.com, J'adore les évènements. C'est l'occasion de sortir pour rencontrer des gens et échanger.
				    </p>
				</div>
		    </div>
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Hack in Paris - Google Cloud Summit GCS</h3>
			    	<p align="justify" class="projectDescr">
		        		Contrairement à Hack in Paris, un évènement qui regroupe des conférences sur la sécurité informatique et auquel je n'ai pu accéder qu'une fois, le GCS est un évènement google auquel je suis invité tous les ans pas google afin de me tenir informé des dernières actualités technologiques de la firme.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="https://cloud.google.com/blog/topics/events/announcing-the-google-cloud-born-digital-summit" target="_blank">
		    			Accéder au site
		    		</a>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Mentor au HackaDON 2018-2020</h3>
			    	<p align="justify" class="projectDescr">
		        		Le hackaDON est un hackathon sur des sujets solidaires organisé par microDON en partenariat avec l'EEMI. J'ai eu la responsabilité de pouvoir y participer en tant que mentor afin de coatcher les équipes en compétition au cours des années 2018 et 2020.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="https://www.youtube.com/watch?v=oI9DEcfdlMw" target="_blank">
		    			HackaDON 2018 en vidéo
		    		</a>
		    		<br>
		    		<a class="link" href="https://www.youtube.com/watch?v=-XZ9nmED38M" target="_blank">
		    			HackaDON 2020 en vidéo
		    		</a>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Bourse du Savoir de l'ECV - Sujet : Le Darknet/Darkweb</h3>
			    	<p align="justify" class="projectDescr">
		        		L'ECV donne l'opportunité à ses élèves de pouvoir présenter un sujet de son choix devant une classe d'une vingtaine de personnes. J'ai donc profité de l'occasion pour présenter le sujet "darkweb : mythes et réalité" dans lequel je démystifiais le lieu tout en donnant des conseils aux personnes qui souhaiteraient s'y aventurer.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="../static/project/pdf/darkweb.pptx" target="_blank">
		    			Télécharger le support de présentation
		    		</a>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Paris Games Week</h3>
			    	<p align="justify" class="projectDescr">
		        		Voilà des années maintenant que je vais à la PGW, le salon du jeu vidéo à Paris afin de découvrir les derniers titres du moment. La trop grande fréquentation du lieu ne me permettant plus de profiter comme avant, j'ai décidé de passer de l'autre côté du rideau. J'ai réussi à me faire engager pour travailler en tant qu'hôte au stand playstation de Final Fantasy VII Remake.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="../static/project/img/pgw.jpg" target="_blank">
		    			Voir photo
		    		</a>
		    	</div>
		    </div>
		</div>

		<div class="parallax-container">
		    <div class="parallax">
		    	<img src="../../static/css/img/project/retroReverse.jpg" class="responsive-img" alt="Parallax">
		    </div>
		</div>


		<!-- ##### Certification ##### -->
		<div class="section grey darken-4 pinkLight">
			<div class="row">
				<div class="col s8 offset-s2">
			    	<h2 class="header">Certifications</h2>
			    	<p class="subtitle">
				    	Voici ci-dessous les divers examens et certifications que j'ai pu obtenir au cours de mes études
				    </p>
				</div>
		    </div>
		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Toeic - 730/1000</h3>
			    	<p align="justify" class="projectDescr">
			    		Mesurer nos connaissances en anglais en milieu professionnel.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="../static/project/img/TOEIC.jpg" target="_blank">
		    			Lien de certification
		    		</a>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col s8 offset-s2">
			    	<h3>Opquast - 745/1000</h3>
			    	<p align="justify" class="projectDescr">
						Un projet né en 2000 autour de l’amélioration de la qualité des sites.
						Une société 100% télétravail (full remote) regroupant environ une dizaine de salariés
						des check-lists sous licence ouverte (Creative Commons BY-SA).
						Une certification de compétences dédiées à la mesure du degré de maîtrise de la qualité en projet Web.
						Une communauté de certifiés, d’agences, d’écoles, de centres de formation et d’entreprise.
		        	</p>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col s12 offset-s2">
		    		<a class="link" href="https://directory.opquast.com/fr/certificat/FAY9WS/" target="_blank">
		    			Lien de certification
		    		</a>
		    	</div>
		    </div>
		</div>

    </body>

    <script src="../static/js/jquery-3.4.1.min.js"></script>

    <!-- Materializecss -->
    <link rel="stylesheet" href="../static/materialize/materialize.min.css">
    <script src="../static/materialize/materialize.min.js"></script>

	<!-- Start Parallax Javascript -->
	<script type="text/javascript">
	  $(document).ready(function(){
	      $('.parallax').parallax();
	  });
	</script>
	<!-- EndParallax Javascript -->

</html>
